.own-message {
    border: 2px solid rgb(11, 149, 223);
    float: right;
    display: flex;
    width: 70%;
    margin-left: 30%;
    margin-bottom: 25px;
    align-items: center;
    border-radius: 20px;
    background-color: ghostwhite;
}

.own-message-text {
    display: flex;
    width: 77%;
    text-align: left;
    padding-left: 10px;
}

.own-button-wrapper {}

button {
    cursor: pointer;
    border: none;
    border-radius: 3px;
    padding: 0px 7px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
}

.own-time-span {
    display: flex;
    justify-content: flex-end;
}

.message-delete {
    background-color: #fee2d5;
    color: #be342b;
}

.message-edit {
    margin-right: 10px;
}