.edit-message-container {
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    text-align: center;
}

.hide-modal {
    display: none;
}

.edit-body {
    padding: 1rem;
    width: 90%;
    border-radius: 5px;
    background: #fff;
    height: 250px;
}

.edit-message-input {
    width: 100%;
    height: 100%;
}

.edit-message-button {
    background: #17bb63bf;
    color: #eafeff;
}

.edit-message-close {
    background: white;
    border: 1px solid grey;
    color: #000000a3;
}

.edit-button {
    border: 1px solid grey;
    width: 27%;
    height: 45px;
    font-size: x-large;
    margin-top: 25px;
    margin-left: 39px;
    float: right;
}