.edit-user-container {
    display: flex;
    padding-top: 10rem;
    text-align: center;
}

.hide-modal {
    display: none;
}

.modal-body {
    padding: 1rem;
    width: 65%;
    border-radius: 5px;
    background: #fff;
    height: 320px;
}

.input {
    width: 100%;
    height: 25px;
    font-size: large;
    padding: 20px 4px 10px 10px;
}

.user-edit-btn {
    font-size: large;
    float: right;
    height: 48px;
    width: 90px;
    margin-left: 15px;
    margin-top: 10px;
}

.edit-user-button {
    background: #17bb63bf;
    color: #eafeff;
}

.edit-user-close {
    background: white;
    border: 1px solid grey;
    color: #000000a3;
}

label {
    margin-top: 20px;
    display: block;
}