.userImage {
    border-radius: 20px;
}

.header-chat {
    margin: auto;
    background: rgb(129 228 250 / 54%);
    height: 100px;
    margin-bottom: 4px;
    border-radius: 6px;
}

header h1 {
    margin: 0;
    color: black;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

header>div>p {
    padding-right: 20px;
    color: black;
}

header>div>p.header-users-count,
header>div>p.header-messages-count {
    float: left;
}

header>div>p.header-last-message-date {
    float: right;
}

header>div {
    margin-top: 30px;
    padding-top: 25px;
}

.userImage {
    margin-left: 30%;
    margin-top: -30%;
}