.user-container {
    display: flex;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    width: 95%;
    justify-content: space-between;
}

.btn {
    margin-right: 10px;
    padding: 10px;
    font-size: medium;
    float: right;
    margin-bottom: 7px;
    width: 80px;
}