.message-input {
    margin-bottom: 15px;
}

.message-input textarea {
    display: block;
    box-sizing: border-box;
    border: 1px solid #bebebe;
    padding: 7px;
    margin: 0 0 5px;
    width: 85%;
    float: left;
    resize: none;
    background-color: ghostwhite;
    border-radius: 6px;
}

.message-input-button {
    border: 1px solid grey;
    border-radius: 6px;
    width: 89px;
    height: 50px;
    font-size: larger;
    margin-top: 20px;
    cursor: pointer;
    border: none;
}