.page-header {
    z-index: 4;
    position: sticky;
    top: 0;
    width: 100%;
}

.page-header__wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px 15px;
}

.page-header__title {
    margin: 0;
    margin-left: -150px;
    font-size: 30px;
}

.page-header__title a {
    margin-left: 20px;
    text-decoration: none;
    color: inherit;
}