.message {
    border: 2px solid rgb(35, 178, 221);
    border-radius: 20px;
    float: left;
    display: flex;
    width: 70%;
    margin-right: 30%;
    margin-bottom: 25px;
    align-items: center;
    background-color: ghostwhite;
}

.message-user-avatar {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    float: left;
    padding: 10px 10px 10px 10px;
    display: flex;
}

.message-user-name {
    display: flex;
    margin-top: 5px;
    float: left;
    font-weight: 600;
}

.message-text {
    display: flex;
    width: 77%;
    text-align: left;
    margin-top: -40px;
}

.message-like {
    height: 23px;
    float: right;
    margin-top: 18px;
}

.message-liked {
    height: 23px;
    float: right;
    margin-top: 18px;
}

.user-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-wrapper {
    display: flex;
    padding-top: 88px;
    padding-right: 11px;
}

.time-span {
    font-size: small;
}

.heart {
    margin: 0;
    padding-right: 4px;
}